
body, p , h1 , h2, h3{
font-family: 'Raleway', sans-serif;
}

body{
	background-color:#F0F8FF  ;
}

#navbar{
	background-color: #F5F5F5;
	padding: 15px;
	height: 80px;
}
#navbar h2, #navbar ul, #navbarlist li, #navbar nav{
	display: inline-block;
}

#navbar h2{
	margin: 0;
	line-height: 80px;
	margin-left: 100px;
	text-shadow:10px 10px 10px #696969;
	font-size: 50px;
	text-decoration: none;
	letter-spacing: 1px;

}

#navbar img{
	height: 90px;
	width: 90px;
	position: absolute;
	top: 15px;
	transform: rotate(252deg);
	border-radius: 50%;
	background-color: #F0F8FF;
	padding: 2px;
}

#navbar nav {
	float: right;
}
#navbar ul {
	margin-top: 30px;
	color: black;
}	

#navbar li{
	margin: 0 10px;
}

#navbarlist li{
	font-size: 20px;
	
	border-radius: 20px;
	padding: 2px 5px 2px 2px;

}

#navbarlist li a {
	text-decoration: none;
	color: #000;
	border-radius: 20px;
	
}


#navbarlist li a:hover {
	background: #000080;
	color: #FFF;
	padding: 6px;
	
}

#bannermain{
	height: 70vh;
	background-image: url('../img/banner.png');
	background-size: cover;
	padding-top: 32vh;
}

#bannerinfo {
	width: 45%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	color: #FFF;
	padding: 50px;
	margin-top: -210px;

}

#bannerinfo img{
	height: 300px;
	border-radius: 50%

		
}
#bannerinfo h1{
	font-size: 45px;
}

#aboutsection {
	text-align: center;
	background-color:#000080;
	color: #FFF;
	padding-top: 50px;
	height: 440px;
}

#aboutsection h2{
	margin-bottom: 20px;
}

#aboutsection p {
	max-width: 750px;
	margin-right: auto;
	margin-left: auto;
	line-height: 30px;

}

#opcoes {
	margin-top: -80px;
	background-color:#F0F8FF;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #DDD;
	border-radius: 10px;

}

#opcoes .container {
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.skillscontainer {
	flex: 1 1;
	text-align: center;
	padding: 60px 25px;
	box-shadow:10px 10px 10px #000080;
}

.central {
	border-left: 1px solid #CCC; 
}


.skillscontainer h3 {
	color: #0000FF;
	font-size: 20px;
	
	border-radius: 20px;
	text-align: center;
	width: 200px;
	margin-left: 140px;

}

.skillscontainer a{
	text-decoration: none;
}

.skillscontainer a h3:hover{
	background-color: #000080;
	color: #FFF;
	transition: all 0.5s ease-out;
}

.skillscontainer img{
	height: 250px;
	padding: 15px;
	margin-bottom: 25px;
	box-shadow: 5px 5px 5px #000080;
	border-radius: 15px;
	


}

#foot{
	background:#000080;
	color: #FFF;
	padding: 2px 0;
	text-align: center;
	font-weight: 100;

}
#footcontatos{
	

}

#footcontatos img{
	height:45px;
	padding: 2px;
}













